{% extends 'books/base.html' %}

{% block title %}Delete Scan Folder - Ebook Library Manager{% endblock %}

{% block content %}
<h2>Delete Scan Folder</h2>
<p><strong>Heads up!</strong> Deleting the folder<strong> "{{ object.name }}" </strong>will also remove all your eBooks and comics from the database.</p>
<p>To get them back, you'll have to add and scan the folder again. Are you sure you want to continue?</p>
<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">
        <i class="fas fa-trash"></i> Delete
    </button>
    <a href="{% url 'books:scan_folder_list' %}" class="btn btn-secondary">
        <i class="fas fa-times"></i> Cancel
    </a>
</form>
{% endblock %}